.nav {
  background-color: var(--zinc-800);
  height: 6rem;
  position: fixed;
  z-index: 200;
  left: 0;
  right: 0;
  top: 0;
}
.nav-content {
  color: var(--grey-soft);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  gap: 2rem;
}
